.footer {
 
  padding: 5px;
  width: 100%;
  height: 120px;
  margin-top:100px;

  background-color: #212529;

  
}

.social {
  width: 100%;
  padding-top: 8px;

  display: flex;
  justify-content: center;
}
.social a {
  display: flex;
  padding: 5px 20px;

}

.social a:hover {
  color: rgb(190, 189, 189);
}

a {
  margin-left: 10px;
  margin-top: 5px;
  color: rgb(190, 189, 189);
}

.copyright {
  
  display: flex;
  flex-direction: row;
 justify-content: center;
  text-align: center;
  color: white;
  margin-top: 10px;
}
.copyright p {
  margin-left: 10px;
}
.menuFooter {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.menuFooter ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.menuFooter ul li {
  display: inline;
}
.menuFooter ul li a {
  text-decoration: none;
  padding: 5px 20px;
  color: #fff;
  background-color: #212529;
}
.menuFooter ul li a:hover {
  color: #fff;
  color: rgb(190, 189, 189);
}
