
h3 {
  color: rgb(41, 4, 250);;
}

.heading {
  color: rebeccapurple;
}

.site-title {
  font-size: 1rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
footer {
  margin: -12px;
  padding: 0;
}
p {
  color: rgb(6, 36, 27);
}

/* Styled footer 

 .clearfix {
  *display: inline-block;
  height: 1%;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
} */